<div class="container">
  <form ref='uploadForm' id='uploadForm' action="/add/{{author}}/{{title}}" method="post" encType="multipart/form-data" class="pull-left">
    <label class="btn btn-default"><input type="file" name="textFile" /></label>
    <button type="submit" class="btn btn-primary">Add Chapter</button>
  </form>
  <form action="/fork/{{author}}/{{title}}" method="post" class="pull-left">
    <button type="submit" class="btn btn-primary">Fork</button>
  </form>
  <form action="/pr/{{author}}/{{title}}" method="post" class="pull-left">
    <button type="submit" class="btn btn-primary">New Pull Request</button>
  </form>
  <form action="/prs/{{author}}/{{title}}" method="get">
    <button type="submit" class="btn btn-primary">Pull Requests</button>
  </form>
  <div class="panel panel-default">
    <div class="panel-heading">Title: {{title}}</div>
    <div class="panel-heading">Author: {{author}}</div>
    <div class="panel-heading">Description: {{description}}</div>
    <div class="panel-body">{{#each content}}
      <a class="btn btn-default" href="{{this}}">Chapter {{@index}}</a>
    {{/each}}<div>
  </div>
</div>
