<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Title: {{title}}</div>
    <div class="panel-heading">Author: {{author}}</div>
    <div class="panel-heading">Description: {{description}}</div>
    <div class="panel-body">{{#each content}}
      <a class="btn btn-default" href="{{this}}">
        {{this}}
      </a>
    {{/each}}<div>

  </div>
</div>
