<head>
  <link rel="stylesheet" type="text/css" href="/css/file_section.css">
  <link href="https://cdn.rawgit.com/westonganger/bootstrap-directional-buttons/master/dist/bootstrap-directional-buttons.css" rel="stylesheet" type="text/css" />
</head>
  <h1>Hello {{ user.name }}</h1>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <!-- example to create a row -->
      <!-- <tr>
        <td>Juldy</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr> -->
      {{#each stories}}
        <tr>
          <td><a href="http://localhost:8000/stories/{{this.Title}}" target="_blank">{{this.Title}}</a></td>
          <td>{{this.Author}}</td>
          <td>{{this.Description}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
